<div class="container">
    <div class="card">
        <div class="card-header text-center">
            <h4>Catálogo Clientes</h4>
        </div>
        <div class="card-body">
            <table class="table table-striped table-hover table-sm">
                <thead>
                  <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Apellido 1</th>
                    <th scope="col">Apellido 2</th>
                    <th scope="col">Teléfono</th>
                    <th scope="col">Celular</th>
                    <th scope="col">Correo</th>
                    <th [colSpan]="2" class="text-center">
                        <button class="btn btn-primary btn-sm" (click)="onNuevo();">
                            <fa-icon [icon]="['fas','plus']"></fa-icon>
                        </button>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">777754</th>
                    <td>Luis</td>
                    <td>West</td>
                    <td>Grant</td>
                    <td>777775</td>
                    <td>898899</td>
                    <td>luis@gmail.com</td>
                    <td class="text-center">
                      <button class="btn btn-sm btn-warning">
                        <fa-icon [icon]="['fas','pencil']"></fa-icon>
                      </button>
                    </td>
                    <td class="text-center">
                      <button class="btn btn-sm btn-danger">
                        <fa-icon [icon]="['fas','trash-can']"></fa-icon>
                      </button>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">777754</th>
                    <td>Luis</td>
                    <td>West</td>
                    <td>Grant</td>
                    <td>777775</td>
                    <td>898899</td>
                    <td>luis@gmail.com</td>
                  </tr>
                  <tr>
                    <th scope="row">777754</th>
                    <td>Luis</td>
                    <td>West</td>
                    <td>Grant</td>
                    <td>777775</td>
                    <td>898899</td>
                    <td>luis@gmail.com</td>
                  </tr>                  

                </tbody>
              </table>            
        </div>

        <div class="card-footer text-end">
            <div>
                <button class="btn btn-sm btn-outline-primary me-2">
                  <fa-icon [icon]="['fas','filter']"></fa-icon> Filtrar
                </button>
                <button class="btn btn-sm btn-outline-success me-2">
                  <fa-icon [icon]="['fas','print']"></fa-icon> Imprimir
                </button>
                <button class="btn btn-sm btn-outline-danger">
                  <fa-icon [icon]="['fas','power-off']"></fa-icon> Cerrar
                </button>
            </div>
        </div>

      </div>
</div>
